@import "compass/reset";
@import "compass/css3";

.back-layer {
  width: 400px;
  height: 100%;
  background-color: #efefef;
  border: solid 1px #dddddd;

  img {
    width: 300px;
    height: 300px;
  }
}

#layer1 {
  position: absolute;
  left: 200px;
}

#layer2 {
  position: absolute;
  left: 300px;
}

.back-layer:hover {
  animation: moveBack 2s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes moveBack {
  50% {
    transform: translate3d(-350px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    z-index: 1;
  }
}