@import "compass/reset";
@import "compass/css3";

body {
  height: 100%;
  width: 100%;
  background: url("../images/background4.jpg") no-repeat;
}

h2 {
  font-size: 25px;
  font-weight: 100;
  padding: 20px;
  color: #02a6db;
  font-family: "helvetica neue",arial,sans-serif;
}

.back-layer {
  width: 400px;
  border: solid 1px #f8f3e7;
  background-color: #fafafa;
  box-shadow: 0px 0px 3px 1px #f8f3e7;
  top: 0;
  bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 20px;
  }
}

#layer1 {
  position: absolute;
  left: 200px;
}

#layer2 {
  position: absolute;
  left: 300px;
  padding-top: 50px;
}

#layer3 {
  position: absolute;
  left: 400px;
  padding-top: 100px;
}

#layer4 {
  position: absolute;
  left: 500px;
  padding-top: 150px;
}

#layer5 {
  position: absolute;
  left: 600px;
  padding-top: 200px;
}

#layer6 {
  position: absolute;
  left: 700px;
  padding-top: 250px;
}

.back-layer:hover {
  animation: moveBack 2s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes moveBack {
  50% {
    transform: translate3d(-350px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    z-index: 2;
  }
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background: url("../images/background4.jpg") 20% 65%;
  z-index: 1;

  img {
    width: 100px;

    border-radius: 50%;
  }

  p {
    font-size: 40px;
    width: 180px;
    margin: auto;
    color: #2d66bf;
    font-family: 'Dancing Script', arial, serif;
  }

}