/* line 5, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-grvpaa");
  src: url("../fonts/icomoon.eot?#iefix-grvpaa") format("embedded-opentype"), url("../fonts/icomoon.woff?-grvpaa") format("woff"), url("../fonts/icomoon.ttf?-grvpaa") format("truetype"), url("../fonts/icomoon.svg?-grvpaa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/style.scss */
[class^="fa-"], [class*=" fa-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/style.scss */
.fa-mail:before {
  content: "\f03b";
}

/* line 33, ../sass/style.scss */
.fa-plus:before {
  content: "\f05d";
}

/* line 37, ../sass/style.scss */
.fa-quill:before {
  content: "\e600";
}

/* line 41, ../sass/style.scss */
.fa-redo:before {
  content: "\e601";
}

/* line 45, ../sass/style.scss */
.fa-twitter:before {
  content: "\e608";
}

/* line 49, ../sass/style.scss */
.fa-search:before {
  content: "\f002";
}

/* line 53, ../sass/style.scss */
.fa-star:before {
  content: "\f005";
}

/* line 57, ../sass/style.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 61, ../sass/style.scss */
.fa-chain:before {
  content: "\f0c1";
}

/* line 65, ../sass/style.scss */
.fa-resize:before {
  content: "\e603";
}

/* line 69, ../sass/style.scss */
.fa-resize:before {
  content: "\e603";
}

/* line 73, ../sass/style.scss */
.fa-notifications:before {
  content: "\e607";
}

/* line 77, ../sass/style.scss */
.fa-notifications:before {
  content: "\e607";
}

/* line 81, ../sass/style.scss */
.fa-more-horiz:before {
  content: "\e606";
}

/* line 85, ../sass/style.scss */
.fa-notifications:before {
  content: "\e607";
}

/* line 91, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Helvetica,Arial" , "sans-serif";
  font-weight: 200;
}

/* line 97, ../sass/style.scss */
#main-part {
  margin-top: 80px;
  overflow: hidden;
}

/* line 102, ../sass/style.scss */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  background-color: #fffbf5;
  box-shadow: 0px 0px 10px 0px #e0dcd7;
  z-index: 1;
}
/* line 112, ../sass/style.scss */
header .white-icon {
  color: white;
  font-size: 15px;
  border-radius: 50%;
  background-color: #80a8cc;
  padding: 12px;
  margin-left: 30px;
}
/* line 121, ../sass/style.scss */
header .black-icon {
  color: #605e58;
  font-size: 18px;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  margin-left: 30px;
  border: solid 1px #e0dbd4;
}
/* line 131, ../sass/style.scss */
header .middle-icon {
  color: #80a8cc;
  font-size: 35px;
  position: absolute;
  left: 50%;
  padding-top: 25px;
}
/* line 139, ../sass/style.scss */
header #new {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 34px;
  padding-right: 25px;
  border-right: solid 1px #f1ede6;
}
/* line 147, ../sass/style.scss */
header ul {
  display: inline;
  padding-left: 0;
}
/* line 152, ../sass/style.scss */
header li {
  display: inline;
}
/* line 157, ../sass/style.scss */
header li:last-child i {
  padding-left: 12px;
  padding-right: 12px;
}
/* line 163, ../sass/style.scss */
header #search-div {
  float: right;
}
/* line 166, ../sass/style.scss */
header #search-div img {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 20px;
}
/* line 173, ../sass/style.scss */
header #search-div form {
  display: inline;
  position: relative;
  top: -15px;
  right: 15px;
}
/* line 179, ../sass/style.scss */
header #search-div form input {
  height: 40px;
  width: 150px;
  border-radius: 25px;
  background-color: transparent;
  border: solid 1px #e3dfd8;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 17px;
}
/* line 191, ../sass/style.scss */
header #search-div form i {
  position: absolute;
  top: -4px;
  right: 16px;
  font-size: 15px;
}

/* line 203, ../sass/style.scss */
#left {
  width: 240px;
  background-color: #80a8cc;
  float: left;
  color: white;
  text-align: center;
  padding-bottom: 100%;
  margin-bottom: -100%;
}
/* line 212, ../sass/style.scss */
#left .head-icon {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 50px auto 10px;
}
/* line 219, ../sass/style.scss */
#left #pic-ul {
  overflow: auto;
  margin-top: 20px;
}
/* line 224, ../sass/style.scss */
#left #pic-ul li {
  float: left;
}
/* line 227, ../sass/style.scss */
#left #pic-ul li img {
  width: 80px;
  height: 80px;
  display: block;
}
/* line 235, ../sass/style.scss */
#left .name {
  font-size: 20px;
  font-weight: 400;
}
/* line 240, ../sass/style.scss */
#left .describe {
  font-size: 17px;
  line-height: initial;
  padding: 20px;
}
/* line 246, ../sass/style.scss */
#left .link {
  display: block;
  font-size: 17px;
}
/* line 251, ../sass/style.scss */
#left button {
  background-color: #6c94b8;
  border: 0px;
  height: 35px;
  width: 120px;
  margin: 20px;
  color: white;
  font-size: 15px;
  border-radius: 25px;
}
/* line 262, ../sass/style.scss */
#left #act-ul {
  text-align: left;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 30px;
}
/* line 270, ../sass/style.scss */
#left #act-ul .act-p {
  color: #6c94b8;
  display: inline;
}
/* line 275, ../sass/style.scss */
#left #act-ul a {
  color: white;
}

/* line 283, ../sass/style.scss */
#right {
  width: 240px;
  background-color: #fffbf5;
  float: right;
  font-size: 15px;
  color: #6c94b8;
  padding-bottom: 100%;
  margin-bottom: -100%;
}
/* line 292, ../sass/style.scss */
#right .list {
  margin-top: 40px;
  margin-left: 20px;
}
/* line 297, ../sass/style.scss */
#right h2 {
  color: #605e58;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 303, ../sass/style.scss */
#right ul {
  line-height: 25px;
}
/* line 307, ../sass/style.scss */
#right a {
  float: right;
  margin-right: 30px;
}
/* line 312, ../sass/style.scss */
#right img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
/* line 319, ../sass/style.scss */
#right .follow-name {
  color: #605e58;
}
/* line 323, ../sass/style.scss */
#right .follow-title {
  color: #c6c1b0;
}
/* line 327, ../sass/style.scss */
#right i {
  float: right;
  margin-right: 30px;
  border: solid 1px #e3dfd8;
  color: #605e58;
  padding: 2px 5px;
}
/* line 336, ../sass/style.scss */
#right #follow li {
  padding-top: 10px;
}

/* line 342, ../sass/style.scss */
#main {
  margin-left: 240px;
  margin-right: 240px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2eee8;
}
/* line 351, ../sass/style.scss */
#main ul {
  box-shadow: 2px 2px 10px 1px #e0dcd7;
}
/* line 355, ../sass/style.scss */
#main #index {
  background-color: #fffbf5;
  text-align: center;
}
/* line 359, ../sass/style.scss */
#main #index li {
  display: inline-block;
  width: 24%;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 366, ../sass/style.scss */
#main #index li p {
  line-height: initial;
}
/* line 370, ../sass/style.scss */
#main #index li .type {
  color: #c6c1b0;
}
/* line 374, ../sass/style.scss */
#main #index li .number {
  font-weight: 600;
  font-size: 18px;
}
/* line 380, ../sass/style.scss */
#main #index li:hover {
  border-bottom: solid 5px #80a8cc;
}
/* line 385, ../sass/style.scss */
#main #content {
  background-color: #fffbf5;
  margin-top: 40px;
  font-size: 17px;
}
/* line 390, ../sass/style.scss */
#main #content li {
  border-bottom: solid 1px #f1ede8;
  padding: 35px;
}
/* line 394, ../sass/style.scss */
#main #content li img {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  position: absolute;
}
/* line 401, ../sass/style.scss */
#main #content li div {
  margin-left: 60px;
  position: relative;
}
/* line 405, ../sass/style.scss */
#main #content li div .name {
  font-weight: 400;
}
/* line 409, ../sass/style.scss */
#main #content li div .link {
  color: #c6c1b0;
}
/* line 413, ../sass/style.scss */
#main #content li div .time {
  display: inline;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #b7b5b4;
}
/* line 421, ../sass/style.scss */
#main #content li div .twit-content {
  color: #605e58;
  padding-top: 15px;
  line-height: initial;
}
/* line 427, ../sass/style.scss */
#main #content li div video {
  padding-top: 15px;
  width: 100%;
  height: auto;
}
/* line 433, ../sass/style.scss */
#main #content li div ul {
  border: none;
  box-shadow: none;
  padding-top: 20px;
  position: relative;
}
/* line 439, ../sass/style.scss */
#main #content li div ul li {
  display: inline;
  color: #c6c1b0;
  padding: 10px;
  border-bottom: none;
}
/* line 446, ../sass/style.scss */
#main #content li div ul li:last-child {
  position: absolute;
  right: 0;
  top: 10px;
}

@media screen and (max-width: 1000px) {
  /* line 463, ../sass/style.scss */
  #right {
    float: left;
    clear: left;
  }

  /* line 468, ../sass/style.scss */
  #main {
    margin-right: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 478, ../sass/style.scss */
  header .black-icon {
    display: none;
  }
  /* line 482, ../sass/style.scss */
  header form {
    display: none !important;
  }

  /* line 488, ../sass/style.scss */
  #left {
    display: none;
  }

  /* line 492, ../sass/style.scss */
  #right {
    display: none;
  }

  /* line 496, ../sass/style.scss */
  #main {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 501, ../sass/style.scss */
  #main #index li {
    display: block;
    width: 100%;
  }
}
