/* line 5, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-family: "helvetica neue",arial,sans-serif;
}

/* line 8, ../sass/style.scss */
h2 {
  font-size: 25px;
  font-weight: 100;
}

/* line 13, ../sass/style.scss */
.back-layer {
  width: 400px;
  border: solid 1px #f8f3e7;
  background-color: #fafafa;
  box-shadow: 0px 0px 3px 1px #f8f3e7;
  top: 0;
  bottom: 0;
}
/* line 21, ../sass/style.scss */
.back-layer img {
  width: 100%;
  border-radius: 20px;
}

/* line 27, ../sass/style.scss */
#layer1 {
  position: absolute;
  left: 200px;
}

/* line 32, ../sass/style.scss */
#layer2 {
  position: absolute;
  left: 300px;
  padding-top: 50px;
}

/* line 38, ../sass/style.scss */
#layer3 {
  position: absolute;
  left: 400px;
  padding-top: 100px;
}

/* line 44, ../sass/style.scss */
#layer4 {
  position: absolute;
  left: 500px;
  padding-top: 150px;
}

/* line 50, ../sass/style.scss */
#layer5 {
  position: absolute;
  left: 600px;
  padding-top: 200px;
}

/* line 56, ../sass/style.scss */
.back-layer:hover {
  animation: moveBack 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveBack {
  50% {
    transform: translate3d(-350px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    z-index: 1;
  }
}
